#gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.gallery-item {
  max-width: 100%;
  border-radius: 4px;
}

#gallery li:not(:last-child) {
  margin-right: 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
